@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  /* display: inline-block;
  vertical-align: middle; */
}

.hidden {
  @apply hidden;
}

.logo {
  @apply w-30 h-auto mx-auto md:mx-3;
}

.wrapper {
  @apply container max-w-5xl mx-auto;
}

.wrapper-inner {
  @apply flex flex-col justify-center items-center md:h-screen p-5 sm:p-10;

  .message {
    @apply flex-col justify-center items-center w-full mb-5;

    .message-inner {
      @apply bg-sky-200 text-sky-800 p-4 rounded-none md:rounded-lg mb-4 text-center;
    }
  }
}

.main-wrapper {
  @apply flex flex-col md:flex-row justify-center gap-10 items-center w-full;

  .brand-wrapper {
    @apply flex flex-col justify-center items-center w-full md:w-1/2;

    .brand {
      @apply w-full flex flex-col md:flex-row justify-center items-center;

      .brand-name {
        @apply text-center md:text-left
      }
    }
  }

  .form-wrapper {
    @apply flex flex-col justify-center items-center w-full md:w-1/2;

    .form {
      @apply w-full;
    }
  }
}



body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

h1 {
  @apply text-7xl text-gray-700 dark:text-gray-200;
}

h2 {
  @apply text-2xl text-gray-700 dark:text-gray-200;
}

h3 {
  @apply text-2xl font-semibold mb-4 text-gray-700 dark:text-gray-200
}

hr {
  @apply bg-gray-200 border border-gray-300 dark:border-gray-500 my-5 w-full;
}

#dark-mode-toggle {
  @apply absolute top-4 right-4 z-10 px-4 py-2 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 rounded shadow flex items-center hover:cursor-pointer;
}

label {
  @apply block text-gray-600 dark:text-gray-300;
}

input[type="text"],
input[type="password"] {
  @apply w-full border border-gray-300 bg-gray-200 dark:bg-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500;
}

.form-item {
  @apply mb-4;
}

button[type="button"] {
  @apply bg-sky-600 hover:bg-blue-700 cursor-pointer text-white font-semibold rounded-md py-2 px-4 w-full;
}

.pw-reset {
  @apply mb-6 text-blue-500;
}

.link {
  @apply my-1 md:my-3 text-gray-500 hover:text-green-900 text-center;
}

.link a {
  @apply hover:underline hover:text-green-700;
}

.action {
  @apply text-green-700
}

#overlay {
  @apply absolute inset-0 justify-start md:justify-center items-start md:items-center bg-white z-50 h-screen;

  .overlay-inner {
    @apply w-full md:w-7xl mx-auto p-5 bg-white dark:bg-gray-800;
  }

  h1 {
    @apply text-4xl md:text-6xl text-sky-700 dark:text-gray-200 text-left dark:border-gray-200 mb-10 font-extrabold pr-10 md:pr-0;
  }

  h2 {
    @apply text-4xl text-gray-700 dark:text-gray-200 text-left mb-0;
  }

  p {
    @apply text-gray-700 dark:text-gray-200 text-left mb-2 text-lg;
  }

  ol {
    @apply list-decimal list-inside text-gray-700 dark:text-gray-200 text-left mb-2 text-lg;
  }

  ul {
    @apply list-disc list-inside text-gray-700 dark:text-gray-200 text-left mt-2 ml-5 mb-4 text-lg;
  }

  li {
    @apply text-gray-700 dark:text-gray-200 text-left mb-2 text-lg;
  }

  a {
    @apply text-gray-700 dark:text-gray-200 text-left mb-2 text-lg;
  }

  .close-button {
    @apply absolute top-2 right-2 hover:cursor-pointer;

    #close {
      @apply text-5xl md:text-7xl;
    }
  }
}

.page {
  @apply container max-w-5xl mx-auto p-5 sm:p-10;

  h1 {
    @apply text-4xl text-gray-700 dark:text-gray-200 mb-3.5;
  }

  h2 {
    @apply text-2xl text-gray-700 dark:text-gray-200 font-bold mb-3.5 border-b-2 border-gray-200 dark:border-gray-500 pb-2;
  }

  h3 {
    @apply text-lg text-gray-700 dark:text-gray-200;
  }

  p {
    @apply text-gray-700 dark:text-gray-200 mb-4;
  }

  ol {
    @apply list-decimal list-inside text-gray-700 dark:text-gray-200;
  }

  ul {
    @apply list-disc list-inside text-gray-700 dark:text-gray-200;
  }

  li {
    @apply text-gray-700 dark:text-gray-200 mb-1;
  }

  a {
    @apply text-gray-700 dark:text-gray-200;
  }

  .step1-button,
  .step2-button {
    @apply w-auto;
  }

  ol {
    @apply list-decimal list-inside text-gray-700 dark:text-gray-200 ml-4;
  }

  .form-item {
    @apply max-w-lg mb-4;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -700px 0;
    }

    100% {
      background-position: 700px 0;
    }
  }

  .loading-line {
    @apply bg-gray-300 dark:bg-gray-700 rounded-md relative overflow-hidden;
  }

  .loading-line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
}